.slider {
  max-width: 100%;
  margin: auto;
}

.slider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
 /* default color of your track */
  background: var(--track-color);
}

.slider-track-1 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

.slider-thumb {
  top: -3px;
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
  
}

.slider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

th:first-child {
position: sticky;
left: 0;
z-index: 1;
background-color: #8be792;
}

td:first-child {
position: sticky;
left: 0;
z-index: 1;
background-color: #8be792;
}

/* .spinner-border {
  border-width: 0.6rem;
  position: absolute;
  top: 40%;
  left: 45%;
}  */

/* .rounded-border-table {
  border: 1px solid #ddd; 
  border-radius: 15px; 
  overflow: hidden; 
} */